html,body{
	height: 100%;
	font-family: "microsoft yahei";
	background-color: #f1f5f8;
}
ul,
li{
	margin: 0;
	padding: 0;
	list-style: none;
}
input,
div,
h1,h2,h3,h4{
	font-weight: normal;
	box-sizing: border-box;
}

.hide{
	display: none;
}
/* login
=============================================*/
.m-signin-box{
	overflow: hidden;
	width: 100%;
	height: 100%;

}

.m-signin-box .m-hd{
	overflow: hidden;
	color: #fff;
	background-color: #3093f7;
}
.m-signin-box .m-ct{
	color: #3093f7;
}

.m-signin-box input{
	border: 1px solid #bfbfbf;
	border-radius: 4px;
	width: 100%;
	padding: 15px;
}

@media screen and (max-width: 1023px){
	.m-signin-box .m-ct,
	.m-signin-box .m-hd{
		padding: 0 10px;
	}
	.m-signin-box h2{
		font-size: 14px;
	}
}

/* chat
==========================================================*/
.m-bd{
	overflow-y: auto;
}
@-webkit-keyframes zoom {
	0%   { opacity: 0; -webkit-transform: scale(1.15); }
	100% { opacity: 1; -webkit-transform: scale(1); }
}

@-webkit-keyframes drop {
	0%   { opacity: 0; -webkit-transform: translateY(-20px); }
	100% { opacity: 1; -webkit-transform: translateY(0px); }
}

@keyframes zoom {
	0%   { opacity: 0; transform: scale(1.15); }
	100% { opacity: 1; transform: scale(1); }
}

@keyframes drop {
	0%   { opacity: 0; transform: translateY(-20px); }
	100% { opacity: 1; transform: translateY(0px); }
}

.m-content{
	margin: 10px 10px 0;
	animation: zoom 500ms;
	-webkit-animation: zoom 500ms;
}
.m-send{
	position: fixed;
	left: 0;
	bottom: 0;
	padding: 15px 57px 15px 15px;
	width: 100%;
	background-color: #c9c9ce;
}
.m-send input{
	border: 0 none;
	border-radius: 5px;
	padding: 10px;
	width: 100%;
	color: #c9c9ce;
	font-size: 14px;
}

.m-send .m-other{
	position: absolute;
	top: 10px;
	right: 10px;
}

.u-i{
	display: inline-block;
	background: url('../img/emo/emo.png');
	background-size: 100%;
}
.u-i-emo{
	cursor: pointer;
	margin-top: 5px;
	width: 40px;
	height: 40px;
}
.m-emo-box{
	position: fixed;
	bottom: 71px;
	left: 0;
	background-color: #eee;
}
.emoji-list li {
	list-style: none;
	float: left;
	margin: 4px;
	padding: 2px;
	height: 36px;
	width: 36px;
}
.emoji {
	margin: 0 .05em 0 .1em;
	height: 1em;
	width: 1em;
	vertical-align: -0.1em;
	cursor: pointer;
}

/* message
===================================*/


#message li{
	overflow: hidden;
	position: relative;
	margin: 5px 0;
}
.new .m-user-box,
.new .m-text-box{
	float: left;
}

.new .m-user-box{
	text-align: center;
}
.m-user-box img{
	box-shadow: 1px 1px 1px rgba(0,0,0,.5);
	border-radius: 50%;
	width: 52px;
	height: 52px;
}
.new .m-message-box{
	position: relative;
	padding: 10px 15px;
	border-radius: 15px;
	background-color: #e5e5ea;
}
.new .m-message-box:before{
	content: ' ';
	position: absolute;
	left: -13px;
	top: 17px;
	width: 0;
	height: 0;
	border-width: 15px 0 0 15px;
	border-style: solid;
	border-color: #e5e5ea #e5e5ea transparent transparent;

}
.new p{
	margin: 0;
	padding: 0;

	font-size: 14px;
	color: #000;
}

.new .u-time{
	color: #999;
	font-size: 9px;
	text-align: right;
}

/* me
=========================*/
.me .m-message-box{
	background-color: #178efd;
}
.me p{
	color: #fff;
}
.me .m-message-box:before{
	left: inherit;
	right: -13px;
	border-color: transparent transparent #178efd #178efd;
}
.me .u-time{
	color: #F1F1F1;
}
.me .m-user-box,
.me .m-text-box{
	float: right;
}

/* 私聊
===============*/
.whisper .u-username{
	color: #f00;
}

.at{
	color: #f00;
}

@media screen and (max-width: 1023px){
	.new .m-user-box{
		width: 100px;
	}
	.m-user-box .u-username{
		font-size: 14px;
	}
    .emoji-list{
	    overflow-y: auto;
	    height: 300px;
    }
}